<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165003556267-ii50eeamf38ms8ntaq00vfv4k929ic50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165003556267-ii50eeamf38ms8ntaq00vfv4k929ic50</string>
	<key>API_KEY</key>
	<string>AIzaSyD16-XIrNvh7E0Gcb4eK6WyNAzurLqjJnE</string>
	<key>GCM_SENDER_ID</key>
	<string>165003556267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.weilwegenlogik.shmoove</string>
	<key>PROJECT_ID</key>
	<string>shmoove-3d773</string>
	<key>STORAGE_BUCKET</key>
	<string>shmoove-3d773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165003556267:ios:b1680096cf774379c44eee</string>
</dict>
</plist>